<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @user_customized_cocktail, partial: "card", as: :user_customized_cocktail %>
  </div>
</div>

  <!-- Show Page Customization starts -->
  <!-- Show Page Customization end -->
