<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Cocktail Recipes Standards

    <a data-toggle="collapse" href="#cocktail_detail_cocktail_recipes_standards_new_form">
      Add cocktail recipes standard
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @cocktail_detail.cocktail_recipes_standards.each do |cocktail_recipes_standard| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to cocktail_recipes_standard, cocktail_recipes_standard %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to cocktail_recipes_standard, method: :delete, data: { confirm: "Do you really want to delete this cocktail_recipes_standard" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="cocktail_detail_cocktail_recipes_standards_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
