<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Cocktail Favorites Users

    <a data-toggle="collapse" href="#cocktail_detail_cocktail_favorites_users_new_form">
      Add cocktail favorites user
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @cocktail_detail.cocktail_favorites_users.each do |cocktail_favorites_user| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to cocktail_favorites_user, cocktail_favorites_user %>

        <% if current_user == cocktail_favorites_user.user %>
          <%= link_to cocktail_favorites_user, method: :delete do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="cocktail_detail_cocktail_favorites_users_new_form">
        <%= render partial: "cocktail_details/cocktail_detail_cocktail_favorites_users_new_form" %>
      </div>
    </div>

  </ul>
</div>
