<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @cocktail_detail, partial: "card", as: :cocktail_detail %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "cocktail_details/cocktail_detail_cocktail_recipes_standards" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "cocktail_details/cocktail_detail_cocktail_favorites_users" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "cocktail_details/cocktail_detail_user_customized_cocktails" %>
  </div>
</div>
  <!-- Show Page Customization end -->
