<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Spirits Brands

    <a data-toggle="collapse" href="#spirits_detail_spirits_brands_new_form">
      Add spirits brand
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @spirits_detail.spirits_brands.each do |spirits_brand| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to spirits_brand, spirits_brand %>

        <%= link_to spirits_brand, method: :delete, data: { confirm: "Do you really want to delete this spirits_brand" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="spirits_detail_spirits_brands_new_form">
        <%= render partial: "spirits_details/spirits_detail_spirits_brands_new_form" %>
      </div>
    </div>

  </ul>
</div>
