<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @spirits_detail, partial: "card", as: :spirits_detail %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "spirits_details/spirits_detail_cocktail_recipes_standards" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "spirits_details/spirits_detail_spirits_brands" %>
  </div>
</div>
