<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @cocktail_favorites_user, partial: "card", as: :cocktail_favorites_user %>
  </div>
</div>

  <!-- Show Page Customization starts -->

  <!-- Show Page Customization end -->
