<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @store_inventory, partial: "card", as: :store_inventory %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "store_inventories/store_inventory_spirit" %>
  </div>
</div>
